<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\\logs\\console-example-internal.log"
      internalLogLevel="Info">

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File" name="all_logs_file" fileName="C:\\00-PedroDesk\\00-Aveiro\\2-semestre\\as\\eShop\\logs\\all.log"/>
    <target xsi:type="File" name="important_logs_file" fileName="C:\\00-PedroDesk\\00-Aveiro\\2-semestre\\as\\eShop\\logs\\important.log"/>
    <target xsi:type="File" name="info_logs_file" fileName="C:\\00-PedroDesk\\00-Aveiro\\2-semestre\\as\\eShop\\logs\\info.log"/>
    <target xsi:type="File" name="debug_logs_file" fileName="C:\\00-PedroDesk\\00-Aveiro\\2-semestre\\as\\eShop\\logs\\debub.log"/>

    <target xsi:type="ColoredConsole" name="logconsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="debug_logs_file" />
    <logger name="*" minlevel="Warn" writeTo="important_logs_file" />
    <logger name="*" minlevel="Info" writeTo="info_logs_file"/>
  </rules>
</nlog>